// --------------------------------------------------
// +++ GENERIC NORMALIZE +++
// --------------------------------------------------


// === IMPORT ===
// --------------------------------------------------

// INUITCSS GENERIC NORMALIZE

@import "node_modules/inuitcss/generic/generic.normalize";

// === DOCS ===
// --------------------------------------------------

/*
---
name: Normalize
generic:
  - Normalize
---

A modern alternative to CSS resets:
http://www.github.com/necolas/normalize.css

*/
