// --------------------------------------------------
// +++ GENERIC BOX-SIZING +++
// --------------------------------------------------

// === IMPORT ===
// --------------------------------------------------

// INUITCSS GENERIC BOX-SIZING

// === DOCS ===
// --------------------------------------------------

// DOCS

// --------------------------------------------------
// +++ END +++
// --------------------------------------------------


// === IMPORT ===
// --------------------------------------------------

// INUITCSS GENERIC BOX-SIZING

@import "node_modules/inuitcss/generic/generic.box-sizing";

// === DOCS ===
// --------------------------------------------------

/*
---
name: Box-sizing
generic:
  - Box-sizing
---

More sensible default box-sizing:
http://www.css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice

*/
