// ---------------------------------------------------
// +++ UTILITIES CLEARFIX +++
// --------------------------------------------------

// === IMPORT ===
// --------------------------------------------------

// INUITCSS UTILITIES CLEARFIX

// === DOCS ===
// --------------------------------------------------

// DOCS

// --------------------------------------------------
// +++ END +++
// --------------------------------------------------


// === IMPORT ===
// --------------------------------------------------

// INUITCSS UTILITIES CLEARFIX

@import "node_modules/inuitcss/utilities/utilities.clearfix";

// === DOCS ===
// --------------------------------------------------

/*
---
name: Clearfix
utilities:
  - Clearfix
---

Mixin to drop micro clearfix into a selector. Further reading:
http://www.cssmojo.com/the-very-latest-clearfix-reloaded/

Usage example:

```scss
.usage {
  @include inuit-clearfix();
}
```

*/
