// --------------------------------------------------
// +++ SETTINGS CORE +++
// --------------------------------------------------

// === VARIABLES ===
// --------------------------------------------------

// FONT-SIZE
// LINE-HEIGHT

// === IMPORT ===
// --------------------------------------------------

// INUITCSS SETTIGNS CORE

// === DOCS ===
// --------------------------------------------------

// DOCS

// --------------------------------------------------
// +++ END +++
// --------------------------------------------------


// === VARIABLES ===
// --------------------------------------------------

// FONT-SIZE

$inuit-global-font-size: 16px;

// LINE-HEIGHT

$inuit-global-line-height: 24px;

// === IMPORT ===
// --------------------------------------------------

// INUITCSS SETTIGNS CORE

@import "node_modules/inuitcss/settings/settings.core";

// === DOCS ===
// --------------------------------------------------

/*
---
name: Core
settings:
  - Core
---

inuitcss’ core and setup settings.

Base typographical styles an baseline grid.
You need to define these values in pixels:
inuitcss will convert them to more
appropriate units.

Variables:

```scss
$inuit-global-font-size: 16px;
$inuit-global-line-height: 24px;
```

*/
