// --------------------------------------------------
// +++ UTILITIES RESPONSIVE SPACINGS +++
// --------------------------------------------------


// === VARIABLES ===
// --------------------------------------------------

// DIRECTIONS

$inuit-responsive-spacing-directions: (
  "-bottom": "-bottom",
) !default;

// PROPERTIES

$inuit-responsive-spacing-properties: (
  "margin": "margin",
) !default;

// SIZE

$inuit-responsive-spacing-sizes: (
  "-none": 0
) !default;

// === IMPORT ===
// --------------------------------------------------

// INUITCSS UTILITIES RESPONSIVE SPACINGS

@import "node_modules/inuitcss/utilities/utilities.responsive-spacings";

// === DOCS ===
// --------------------------------------------------

/*
---
name: Responsive-spacings
utilities:
  - Responsive-spacings
---

Utility classes enhancing the normal spacing classes by adding responsiveness
to them. By default this brings us the following classes:

* `.u-margin-bottom-none@mobile`

*/
