// --------------------------------------------------
// +++ TOOLS ALIASES +++
// --------------------------------------------------


// === VARIABLES ===
// --------------------------------------------------

// UNIT

$unit: $inuit-global-spacing-unit;

// UNIT-TINY

$unit-tiny: $inuit-global-spacing-unit-tiny;

// UNIT-SMALL

$unit-small: $inuit-global-spacing-unit-small;

// UNIT-LARGE

$unit-large: $inuit-global-spacing-unit-large;

// UNIT-HUGE

$unit-huge: $inuit-global-spacing-unit-huge;

// === TOOLS ===
// --------------------------------------------------

// FONT-SIZE

@mixin font-size($args...) {
  @include inuit-font-size($args...);
}

// === DOCS ===
// --------------------------------------------------

/*
---
name: Aliases
tools:
  - Aliases
---

Reassign variables:

* `$inuit-global-spacing-unit` to **`$unit`**.
* `$inuit-global-spacing-unit-tiny` to **`$unit-tiny`**.
* `$inuit-global-spacing-unit-small` to **`$unit-small`**.
* `$inuit-global-spacing-unit-large` to **`$unit-large`**.
* `$inuit-global-spacing-unit-huge` to **`$unit-huge`**.

Reassign tools:

* **`font-size($args...)`** alias for `inuit-font-size($args...)`

*/
