// --------------------------------------------------
// +++ TOOLS HIDDEN +++
// --------------------------------------------------

// === IMPORT ===
// --------------------------------------------------

// INUITCSS TOOLS HIDDEN

// === DOCS ===
// --------------------------------------------------

// DOCS

// --------------------------------------------------
// +++ END +++
// --------------------------------------------------


// === IMPORT ===
// --------------------------------------------------

// INUITCSS TOOLS HIDDEN

@import "node_modules/inuitcss/tools/tools.hidden";

// === DOCS ===
// --------------------------------------------------

/*
---
name: Hidden
tools:
  - Hidden
---

Mixin to quickly apply accessible hiding to elements.

Usage example:

```scss
.usage {
  @include inuit-hidden-visually();
}
```

*/
