// --------------------------------------------------
// +++ TOOLS CLEARFIX +++
// --------------------------------------------------


// === IMPORT ===
// --------------------------------------------------

// INUITCSS TOOLS CLEARFIX

@import "node_modules/inuitcss/tools/tools.clearfix";

// === DOCS ===
// --------------------------------------------------

/*
---
name: Clearfix
tools:
  - Clearfix
---

Mixin to drop micro clearfix into a selector. Further reading:
http://www.cssmojo.com/the-very-latest-clearfix-reloaded/

Usage example:

```scss
.usage {
  @include inuit-clearfix();
}
```

*/
