// --------------------------------------------------
// +++ IGLOO SETTINGS GLOBAL +++
// --------------------------------------------------

// === VARIABLES ===
// --------------------------------------------------

// GLOBAL RADIUS
// GLOBAL TRANSITION

// === DOCS ===
// --------------------------------------------------

// DOCS

// --------------------------------------------------
// +++ END +++
// --------------------------------------------------


// === VARIABLES ===
// --------------------------------------------------

// GLOBAL RADIUS

$global-radius: 3px !default;

// GLOBAL TRANSITION

$global-transition: (1/3) + s !default;

// === DOCS ===
// --------------------------------------------------

/*
---
name: Global
settings:
  - Global
---

The global settings file contains any project-wide
variables; things that need to be made available
to the entire codebase.

Variables:

```scss
$global-radius: 3px;
$global-transition: (1/3) + s;
```

*/
