// --------------------------------------------------
// +++ IGLOO SETTINGS CONFIG +++
// --------------------------------------------------


// === VARIABLES ===
// --------------------------------------------------

// GLOBAL CONFIG SETTINGS (MAP)

$inuit-config: (
  env: dev,
  healthcheck: false,
  debug: true,
);

// === FUNCTIONS ===
// --------------------------------------------------

// CONFIG FUNCTION

@function inuit-config($key) {
  @return map-get($inuit-config, $key);
}

// === DOCS ===
// --------------------------------------------------

/*
---
name: Config
settings:
  - Config
---

A map of global config settings. Define any
project-level configuration, feature switches,
etc. in here.

You can access data in this map using the following function:
`inuit-config(<key>)`

Example usage:

```scss
@if (inuit-config(debug) == true) { ...  }
```

*/
